body{
    background-image:url(assets/fondo-celebracion-confeti-cayendo-podio_1017-23783.avif);
    background-attachment: fixed;
    background-position: 47%;
    background-size: 70%;
    
}
header {
    background-image: url(assets/fondo-acuarela-halloween_52683-43699.avif);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: -1%;
    margin-left: -2%;
    padding: 10px 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

#foto {
    display: flex;
    align-items: center;
}

#contador {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-right: 50px; 
    color: white;
    font-size: 24px;
}

#contador span {
    font-size: 36px; 
    font-weight: bold; 
    color: yellow; 
    text-shadow: 2px 2px 4px black; 
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); 
}

#foto img {
    margin-right: 20px;

}
#registro{
    background-image: url(assets/fondo-telarañas.jfif);
    border-radius: 10px;
    width: 20%;
    height: 20%;
    margin-left: 39.5%;
    margin-top: -420px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}
#du{
    
    display: flex;
    margin-bottom: 2%;
    margin-left: 10%;
}
#nombre{
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}
#da{
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}
#apellidos{
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}
#de{
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}
#email{
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}
#dp{
    display: flex;
    margin-left: 10%;
}

#telefono{
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

#check{
    font-size: 15px;
    margin: 2%;
    padding: 1%;
    border-style: solid;
    border-color:grey;
    border-width: 5px;
    border-radius: 10px;
    background-color: #ffffff;
}


#iniciar{
    margin-left: 24%; 
}

#boton{
    width: 150px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}
#premio{
    margin-left: 5%;
}
#gana{
    margin-left: -5%;
    font-size: 27px;
    color: white; /* Color del texto */
    text-shadow: 
      -2px -2px 2px black, /* Sombra arriba izquierda */
      2px -2px 2px black,  /* Sombra arriba derecha */
      -2px 2px 2px black,  /* Sombra abajo izquierda */
      2px 2px 2px black;   /* Sombra abajo derecha */
}
#patrocinador{
  margin-left: 70%;
  margin-top: -480px; 
}
#patro{
    font-size: 27px;
    color: white; /* Color del texto */
    text-shadow: 
      -2px -2px 2px black, /* Sombra arriba izquierda */
      2px -2px 2px black,  /* Sombra arriba derecha */
      -2px 2px 2px black,  /* Sombra abajo izquierda */
      2px 2px 2px black;   /* Sombra abajo derecha */
}
#ad1{
   margin-left: 6%;
   margin-top: 1%; 
}
#ad2{
margin-left: 70%;
margin-top: 1%;
}
.modal {
    display: none;
    position: fixed; /* Para que cubra toda la pantalla */
    top: 0; /* Ajustar a la parte superior */
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro y transparente */
    justify-content: center;
    z-index: 1000; /* para que esté encima de otros elementos */
}

.contenido-modal {
    width: 300px; /* Definimos un ancho fijo */
    background-color: #282828; /* Fondo oscuro */
    border: 2px solid #ff8c00; /* Borde naranja brillante */
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    position: absolute; /* Cambiar a posición absoluta */
    top: 20px; /* Ajustar el espacio desde la parte superior */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar para centrar */
}

.modal span {
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 24px; /* Tamaño del icono de cierre */
    color: #ff8c00; /* Color del icono de cierre */
    position: absolute; /* Posición absoluta para colocar en la esquina */
    top: 10px; 
    right: 10px; 
}

h2 {
    color: #ff8c00;
    font-family: 'Creepster', cursive; 
    margin-bottom: 10px;
}

p {
    color: #ffffff; 
    font-family: Arial, sans-serif; 
    line-height: 1.5; 
}

.modal span:hover {
    background-color: #ff6347; 
}